%p#notice= notice

%p
  %b Name:
  = @company.name
%p
  %b Avatar:
  = @company.avatar
%p
  %b Description:
  = @company.description
%p
  %b Verification doc:
  = @company.verification_doc
%p
  %b Verified:
  = @company.verified
%p
  %b Fee:
  = @company.fee
%p
  %b Industry:
  = @company.industry

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
