%p#notice= notice

%p
  %b Name:
  = @region.name
%p
  %b Timezone:
  = @region.timezone
%p
  %b Country:
  = @region.country

= link_to 'Edit', edit_region_path(@region)
\|
= link_to 'Back', regions_path
